
    <!-- 產品保固與退換貨說明 Modal -->
    <div class="modal fade" id="warrantyModal" tabindex="-1" aria-labelledby="warrantyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="warrantyModalLabel">產品保固與退換貨說明</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <ul>
            <li>本產品提供2年保固，保固期內非人為損壞可享免費維修服務</li>
            <li>辦理退貨或換貨時，須提供購買憑證並保留完整包裝</li>
            <li>自到貨日起七天內，若商品未拆封且為全新狀態，可申請退貨</li>
            <li>若商品有外觀瑕疵或無法正常使用，請聯繫客服，我們將確認問題並安排換貨或退貨</li>
            </ul>
            <br>
            <p><strong>※ 以下情況不適用於保固服務：</strong></p>
            <ul>
            <li>因外力造成損壞（如刮痕、凹陷、電子零件損壞等）</li>
            <li>因意外、誤用、進水、火災、天災等外部因素造成的損壞</li>
            <li>非經本公司授權人員維修所導致的問題</li>
            <li>因人為因素導致系統異常（如病毒感染、誤格式化、系統檔案損毀等）</li>
            </ul>
            <br>
            <p><strong>※ 維修服務說明：</strong></p>
            <ul>
            <li>如需產品維修，請由使用者自行負擔運費，將產品寄回本公司進行檢測與處理</li>
            <li>若符合保固條件與保固期間內，將免收維修費用，並提供免費回寄服務</li>
            <li>若產品損壞不屬於保固範圍，或已超過保固期限，可能會產生額外維修或零件費用，並將另行通知</li>
            </ul>
            <br>
            <p>客服信箱 : <a href="mailto:contact@unigo.ai">contact@unigo.ai</a><br>
            電話 : +886-2-2771-5900</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
        </div>
        </div>
    </div>
    </div>

    <!-- 其他使用注意事項 Modal -->
    <div class="modal fade" id="usageModal" tabindex="-1" aria-labelledby="usageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="usageModalLabel">其他使用注意事項</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <ul>
            <li>由於市售 USB 集線器或多功能轉接器的供電能力不一，為確保產品穩定運作，建議直接連接電腦使用 OStation，以避免供電不足或訊號不穩定的狀況</li>
            <li>部分電腦原廠因配置規格不同，使用上效能可能有異，令遊戲平台及遊戲設計之各類條件下，亦不保證所有機型皆能正常使用</li>
            <li>當所有接口同時使用時，總共的共享頻寬為 10Gbps 注意：不支援透過 USB-C 接口連接外接螢幕</li>
            <li>在高耗能使用情境下，建議透過 USB-C 接口 2（如下圖） 連接電源插座進行供
                電，以確保 Hub 的運作更加穩定。</li>
            </ul>                          
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
        </div>
        </div>
    </div>
    </div>

    <!-- Cookie 政策 Modal -->
    <div class="modal fade" id="cookieModal" tabindex="-1" aria-labelledby="cookieModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cookieModalLabel">Cookie 政策</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                <li>本網站使用 Cookie 提升使用體驗及統計數據。</li>
                <li>您可以選擇接受或拒絕 Cookie 的使用。</li>
                <li>拒絕 Cookie 可能會影響部分功能。</li>
                </ul>
            </div>
            </div>
        </div>
        </div>



    <!-- 條款 Modal -->
    <div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="termsModalLabel">條款</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <ul>
            <li>使用本網站即表示您同意遵守所有使用條款。</li>
            <li>禁止任何未經授權的內容修改或分發行為。</li>
            <li>本公司保留對條款更新的權利。</li>
            </ul>
        </div>
        </div>
    </div>
    </div>

    <!-- 隱私政策 Modal -->
    <div class="modal fade" id="privacyModal" tabindex="-1" aria-labelledby="privacyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="privacyModalLabel">隱私政策</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>OStation（以下簡稱「本網站」）重視您的個人資料與隱私權。本隱私條款將說明我們如何收集、使用、保護您的資訊，並保障您的權益。</p>

            <h5>一、資料收集方式</h5>
            <h6>當您使用本網站的服務時，我們可能會收集以下資訊：</h6>
            <ul>
            <li>基本資料：如姓名、電子郵件、聯絡方式。</li>
            <li>使用資訊：如瀏覽紀錄、裝置資訊、IP 位址。</li>
            <li>交易資訊：如付款或訂單相關資料（僅於必要時收集）。</li>
            </ul>
            <br>

            <h5>二、資料使用目的</h5>
            <h6>我們收集的資訊僅用於以下用途：</h6>
            <ul>
            <li>提供與優化本網站服務。</li>
            <li>客戶服務及回覆您的查詢。</li>
            <li>行銷推廣、活動通知（需經您同意）。</li>
            <li>法律或政府機關要求之必要配合。</li>
            </ul>
            <br>
            <h5>三、資料保護</h5>
            <ul>
            <li>我們採用合適的安全措施，以防止未經授權的存取、洩漏、竄改或破壞。</li>
            <li>僅授權員工可存取個人資料，並依法履行保密義務。</li>
            </ul>
            <br>
            <h5>四、資料分享與第三方</h5>
            <h6>除非符合以下情況，我們不會與第三方分享您的個人資料：</h6>
            <ul>
                <li>經您事前同意。</li>
                <li>為完成付款、物流或服務所必須。</li>
                <li>法律要求或政府機關依程序要求。</li>
            </ul>
            <br>
            <h5>五、使用者權利</h5>
            <h6>您有權：</h6>
            <ul>
            <li>查詢、閱覽您的個人資料。</li>
            <li>請求更正或刪除您的資料。</li>
            <li>要求停止蒐集、處理或利用您的個人資料。</li>
            <h5>若您希望行使上述權利，請透過本網站提供的聯絡方式與我們聯繫。</h5>
            </ul>
            <br>
            <h5>六、隱私條款修訂</h5>
            <h6>本網站保留隨時修訂本條款之權利。修訂後的條款將公告於本網站，並自公告日起生效。</h6>
            <br>
            <h5>七、聯絡我們</h5>
            <h5>若您對本隱私條款有任何疑問，請透過 <a href="mailto:contact@unigo.ai">contact@unigo.ai</a> 與我們聯繫。</h5>
        </div>
        </div>
    </div>
    </div>
      
<!-- 關於我們 Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="aboutModalLabel">關於我們</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <ul style="list-style: none; padding-left: 0; margin-left: 0;">
                <li data-i18n="about.li1">武盾多利有限公司致力於消費型 AI 與電子產品的研發與創新，秉持「以科技提升生活品質」的理念，為使用者打造更智慧、更便利的體驗。</li>
                <li data-i18n="about.li2">我們的核心優勢在於跨平台研發能力，能將軟體與硬體深度整合，發揮最大效能。同時，我們將使用者體驗視為產品設計的核心，專注於直覺化與便利性的設計思維，讓每一項產品都能真正貼近使用需求。</li>
                <li data-i18n="about.li3">武盾多利有限公司將持續推動創新，提供卓越的 AI 與電子產品解決方案，為消費市場注入更多智慧與驚喜。</li>
              </ul>              
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
        </div>
      </div>
    </div>
  </div>
  
      
      